# MINERÍA DE DATOS
## LABORATORIO SEMANA 13
### DOCENTE:  Dr. Hugo David Calderon Vilca
### INTEGRANTES:
- Blas Ruiz, Luis Aaron - 19200069
- Huarhuachi Ortega, Andrea Mariana - 19200267
- Ramos Rivas, Kevin Keyler - 19200096
- Rojas Villanueva, Paula Elianne - 19200266
- Torres Talaverano, Luz Elena - 19200294

# Modelado

## Descripción de la Cuarta Parte

En este notebook haremos el análisis de texto mediante el modelado de temas. El objetivo final del modelado de temas es encontrar varios temas que estén presentes en su corpus. Cada documento del corpus se compondrá de al menos un tema, si no de varios temas.

Para usar una técnica de modelado de temas, debemos proporcionar (1) una matriz de término de documento y (2) la cantidad de temas que le gustaría que el algoritmo recogiera.

## Analizando los topicos de todo el texto

In [121]:
#leermos la matriz de terminos de documentos
import pandas as pd
import pickle

data = pd.read_pickle('dtm_stop.pkl')
data

,abandoned,abilities,ability,ablaze,able,abominable,abomination,abominations,absolutely,academy,...,youve,yowza,yuck,yup,zealots,zero,zombies,zone,zurich,ça
T1C1,1,0,0,0,0,0,0,0,0,1,...,4,0,0,0,1,1,0,0,0,1
T1C2,0,0,1,0,1,0,0,0,0,0,...,4,0,0,0,0,0,0,0,0,0
T1C3,0,1,1,1,2,0,0,1,0,2,...,1,0,2,0,0,0,1,0,0,0
T1C4,0,0,1,0,1,1,0,0,1,0,...,3,0,0,0,0,2,0,2,0,0
T1C5,1,1,1,0,0,0,0,0,0,0,...,4,0,0,0,0,0,0,0,0,0
T1C6,0,0,2,0,1,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
T1C7,0,0,0,0,1,0,0,0,0,0,...,12,1,0,0,0,0,0,0,1,0
T1C8,0,0,1,0,1,0,1,1,0,0,...,4,0,0,1,0,1,0,0,0,0

In [122]:
# Import los módulos necesarios para LDA con gensim
from gensim import matutils, models
import scipy.sparse

In [123]:
# Una de las entradas requeridas es una matriz de documento de término
tdm = data.transpose()
tdm.head()

           T1C1  T1C2  T1C3  T1C4  T1C5  T1C6  T1C7  T1C8
abandoned     1     0     0     0     1     0     0     0
abilities     0     0     1     0     1     0     0     0
ability       0     1     1     1     1     2     0     1
ablaze        0     0     1     0     0     0     0     0
able          0     1     2     1     0     1     1     1

In [124]:
# Vamos a poner la matriz del documento de términos en un nuevo formato gensim, desde df --> matriz dispersa --> corpus gensim
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [125]:
# Gensim también requiere un diccionario de todos los términos y su ubicación respectiva en la matriz del documento de términos
cv = pickle.load(open("cv_stop.pkl", "rb"))
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term), we need to specify two other parameters - the number of topics and the number of passes. Let's start the number of topics at 2, see if the results make sense, and increase the number from there.

In [126]:
# Ahora que tenemos el corpus (matriz término-documento) e id2word (diccionario de ubicación: término),
# necesitamos especificar otros dos parámetros también: el número de temas y el número de pases
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)
lda.print_topics()

[(0,
  '0.008*"like" + 0.005*"want" + 0.005*"need" + 0.004*"oh" + 0.004*"think" + 0.004*"did" + 0.003*"yeah" + 0.003*"ill" + 0.003*"hey" + 0.003*"help"'),
 (1,
  '0.007*"like" + 0.005*"did" + 0.005*"want" + 0.004*"need" + 0.004*"oh" + 0.003*"rowan" + 0.003*"think" + 0.003*"way" + 0.003*"tell" + 0.003*"little"')]

In [127]:
# LDA para num_topics = 3
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)
lda.print_topics()

[(0,
  '0.000*"like" + 0.000*"want" + 0.000*"oh" + 0.000*"need" + 0.000*"think" + 0.000*"did" + 0.000*"way" + 0.000*"yeah" + 0.000*"ill" + 0.000*"tell"'),
 (1,
  '0.008*"like" + 0.005*"need" + 0.004*"ill" + 0.004*"want" + 0.004*"did" + 0.004*"think" + 0.003*"oh" + 0.003*"yeah" + 0.003*"lets" + 0.003*"hes"'),
 (2,
  '0.008*"like" + 0.006*"want" + 0.006*"did" + 0.005*"oh" + 0.004*"need" + 0.004*"think" + 0.003*"way" + 0.003*"father" + 0.003*"little" + 0.003*"family"')]

In [128]:
# LDA para num_topics = 4
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=10)
lda.print_topics()

[(0,
  '0.010*"like" + 0.006*"want" + 0.005*"did" + 0.005*"need" + 0.005*"oh" + 0.005*"think" + 0.004*"yeah" + 0.004*"hes" + 0.003*"ill" + 0.003*"rowan"'),
 (1,
  '0.006*"like" + 0.005*"need" + 0.004*"ill" + 0.004*"kinbott" + 0.004*"youve" + 0.004*"laurel" + 0.003*"did" + 0.003*"oh" + 0.003*"think" + 0.003*"help"'),
 (2,
  '0.005*"like" + 0.005*"did" + 0.004*"want" + 0.004*"way" + 0.004*"oh" + 0.003*"need" + 0.003*"tell" + 0.003*"little" + 0.003*"people" + 0.003*"rowan"'),
 (3,
  '0.000*"did" + 0.000*"like" + 0.000*"want" + 0.000*"way" + 0.000*"hes" + 0.000*"need" + 0.000*"father" + 0.000*"garrett" + 0.000*"family" + 0.000*"think"')]

Estos temas no se ven muy bien. Hemos intentado modificar nuestros parámetros. Intentemos modificar también nuestra lista de términos.

## Identificar topicos de solo sustantivos

Un truco popular es mirar solo los términos que pertenecen a una parte del discurso (solo sustantivos, solo adjetivos, etc.). Consulte el conjunto de etiquetas de UPenn: https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html.

In [129]:
# Vamos a crear una función para extraer sustantivos de una cadena de texto
from nltk import word_tokenize, pos_tag

def nouns(text):
    '''Given a string of text, tokenize the text and pull out only the nouns.'''
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)] 
    return ' '.join(all_nouns)

In [130]:
# Lea los datos limpios, antes del paso CountVectorizer
data_clean = pd.read_pickle('data_clean.pkl')
data_clean

                                             transcript
T1C1  original release date november   wednesday add...
T1C2  original release date november   wednesday con...
T1C3  original release date november   wednesday fin...
T1C4  original release date november   wednesday and...
T1C5  original release date november    years ago go...
T1C6  original release date november   wednesday att...
T1C7  original release date november   at mayor walk...
T1C8  original release date november   wednesday and...

In [131]:
# Aplique la función de sustantivos a las transcripciones para filtrar solo por sustantivos
data_nouns = pd.DataFrame(data_clean.transcript.apply(nouns))
data_nouns

                                             transcript
T1C1  release date november student brother pugsley ...
T1C2  release date november sheriff galpin perpetrat...
T1C3  release date november members students society...
T1C4  release date november wednesday thing break co...
T1C5  release date years gomez suspicion garrett gat...
T1C6  release date november wednesday attempts goody...
T1C7  release date november mayor walkers notices fi...
T1C8  release date november wednesday classmates tyl...

In [132]:
# Crea una nueva matriz documento-término usando solo sustantivos
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

# Vuelva a agregar las palabras vacías adicionales ya que estamos recreando la matriz documento-término
add_stop_words = ['like', 'im', 'know', 'just', 'dont', 'thats', 'right', 'people',
                  'youre', 'got', 'gonna', 'time', 'think', 'yeah', 'said']
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)

# Recrear una matriz documento-término con solo sustantivos
cvn = CountVectorizer(stop_words=stop_words)
data_cvn = cvn.fit_transform(data_nouns.transcript)
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names())
data_dtmn.index = data_nouns.index
data_dtmn

d:\ProgramFiles\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abilities,ability,abomination,abominations,academy,accident,accounts,accusations,act,action,...,yonder,youd,youll,youve,yuck,zero,zombies,zone,zurich,ça
T1C1,0,0,0,0,1,1,0,0,0,0,...,0,0,4,4,0,1,0,0,0,1
T1C2,0,1,0,0,0,2,0,0,1,0,...,0,0,0,2,0,0,0,0,0,0
T1C3,1,1,0,1,1,0,0,0,0,0,...,1,0,1,1,1,0,1,0,0,0
T1C4,0,1,0,0,0,1,0,0,1,0,...,0,1,0,0,0,1,0,1,0,0
T1C5,1,1,0,0,0,2,1,0,0,0,...,0,0,0,2,0,0,0,0,0,0
T1C6,0,2,0,0,0,0,0,0,2,1,...,0,0,2,1,0,0,0,0,0,0
T1C7,0,0,0,0,0,0,0,0,0,0,...,0,0,2,3,0,0,0,0,1,0
T1C8,0,1,1,1,0,0,0,1,1,1,...,0,0,0,2,0,1,0,0,0,0

In [133]:
# Crear el corpus gensim
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

# Crear el diccionario de vocabulario
id2wordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [134]:
# Probemos 4 temas
ldan = models.LdaModel(corpus=corpusn, num_topics=4, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.010*"tyler" + 0.010*"gates" + 0.009*"wednesday" + 0.009*"thing" + 0.008*"father" + 0.008*"hyde" + 0.007*"monster" + 0.007*"mother" + 0.007*"school" + 0.007*"family"'),
 (1,
  '0.009*"monster" + 0.008*"dance" + 0.008*"wednesday" + 0.008*"thing" + 0.007*"hes" + 0.007*"crackstone" + 0.006*"date" + 0.006*"kind" + 0.005*"goo" + 0.005*"night"'),
 (2,
  '0.011*"wednesday" + 0.010*"thing" + 0.009*"school" + 0.007*"rowan" + 0.007*"mother" + 0.007*"way" + 0.005*"monster" + 0.005*"cup" + 0.004*"scales" + 0.004*"years"'),
 (3,
  '0.001*"wednesday" + 0.001*"thing" + 0.001*"school" + 0.001*"way" + 0.001*"monster" + 0.001*"hes" + 0.001*"mother" + 0.001*"dad" + 0.001*"family" + 0.001*"friends"')]

## Identificar topicos de solo sustantivos y adjetivos

In [135]:
# Vamos a crear una función para extraer sustantivos de una cadena de texto
def nouns_adj(text):
    '''Dada una cadena de texto, tokenice el texto y extraiga solo los sustantivos y adjetivos.'''
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

In [136]:
# Aplique la función de sustantivos a las transcripciones para filtrar solo por sustantivos
data_nouns_adj = pd.DataFrame(data_clean.transcript.apply(nouns_adj))
data_nouns_adj

                                             transcript
T1C1  original release date november wednesday highs...
T1C2  original release date november wednesday skept...
T1C3  original release date november wednesday membe...
T1C4  original release date november wednesday thing...
T1C5  original release date years gomez suspicion ga...
T1C6  original release date november wednesday attem...
T1C7  original release date november mayor walkers f...
T1C8  original release date november wednesday class...

In [137]:
# Cree una nueva matriz de término de documento usando solo sustantivos y adjetivos, también elimine palabras comunes con max_df
cvna = CountVectorizer(stop_words=stop_words, max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.transcript)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names())
data_dtmna.index = data_nouns_adj.index
data_dtmna

d:\ProgramFiles\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abilities,ability,able,abominable,abomination,abominations,academy,accept,accident,accounts,...,youd,youll,young,youthful,yuck,zero,zombies,zone,zurich,ça
T1C1,0,0,0,0,0,0,1,1,1,0,...,0,5,0,0,0,1,0,0,0,1
T1C2,0,1,1,0,0,0,0,0,2,0,...,1,0,0,0,0,0,0,0,0,0
T1C3,1,1,2,0,0,1,2,0,0,0,...,0,1,1,0,2,0,1,0,0,0
T1C4,0,1,1,1,0,0,0,0,1,0,...,1,0,0,0,0,1,0,1,0,0
T1C5,1,1,0,0,0,0,0,0,2,1,...,1,0,0,1,0,0,0,0,0,0
T1C6,0,2,1,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0
T1C7,0,0,1,0,0,0,0,0,0,0,...,0,3,1,0,0,0,0,0,1,0
T1C8,0,1,1,0,1,1,0,0,0,0,...,1,0,1,0,0,1,0,0,0,0

In [138]:
# Crear el corpus gensim
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Crear el diccionario de vocabulario
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [139]:
# Probemos 4 temas
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.010*"crackstone" + 0.006*"house" + 0.006*"meeting" + 0.005*"pilgrim" + 0.005*"joseph" + 0.004*"jericho" + 0.004*"visions" + 0.004*"history" + 0.004*"witch" + 0.003*"book"'),
 (1,
  '0.014*"garrett" + 0.007*"gates" + 0.004*"gomez" + 0.004*"best" + 0.004*"murder" + 0.003*"eugene" + 0.003*"dance" + 0.003*"morticia" + 0.003*"nightshade" + 0.003*"mom"'),
 (2,
  '0.005*"cup" + 0.004*"scales" + 0.004*"bianca" + 0.004*"poe" + 0.003*"look" + 0.003*"murder" + 0.003*"wait" + 0.003*"dark" + 0.003*"roommate" + 0.003*"girls"'),
 (3,
  '0.010*"hyde" + 0.008*"gates" + 0.007*"eugene" + 0.007*"dance" + 0.006*"raven" + 0.005*"goody" + 0.005*"mayor" + 0.004*"kinbott" + 0.004*"laurel" + 0.004*"god"')]

## Identificar topicos en todo el documento

De los 9 modelos de temas que vimos, los sustantivos y adjetivos, 4 temas uno tenía más sentido. Así que saquemos eso aquí abajo y analicemos algunas iteraciones más para obtener temas más afinados.

In [140]:
# Nuestro modelo LDA final (por ahora)
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80)
ldana.print_topics()

[(0,
  '0.007*"hyde" + 0.006*"gates" + 0.005*"mayor" + 0.004*"goody" + 0.004*"kinbott" + 0.004*"cup" + 0.004*"diary" + 0.003*"poe" + 0.003*"scales" + 0.003*"laurel"'),
 (1,
  '0.009*"garrett" + 0.004*"murder" + 0.004*"gates" + 0.003*"gomez" + 0.003*"best" + 0.003*"session" + 0.003*"week" + 0.003*"morticia" + 0.002*"therapy" + 0.002*"home"'),
 (2,
  '0.010*"crackstone" + 0.006*"house" + 0.006*"meeting" + 0.006*"pilgrim" + 0.006*"joseph" + 0.004*"jericho" + 0.004*"visions" + 0.004*"witch" + 0.004*"history" + 0.003*"book"'),
 (3,
  '0.010*"eugene" + 0.009*"dance" + 0.007*"raven" + 0.006*"hyde" + 0.005*"goo" + 0.005*"god" + 0.004*"sorry" + 0.004*"crackstone" + 0.004*"gates" + 0.004*"blood"')]

These four topics look pretty decent. Let's settle on these for now.
* Topic 0: mom, parents
* Topic 1: husband, wife
* Topic 2: guns
* Topic 3: profanity

In [141]:
# Echemos un vistazo a los temas que contiene cada transcripción
corpus_transformed = ldana[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(1, 'T1C1'),
 (0, 'T1C2'),
 (2, 'T1C3'),
 (3, 'T1C4'),
 (1, 'T1C5'),
 (0, 'T1C6'),
 (0, 'T1C7'),
 (3, 'T1C8')]

For a first pass of LDA, these kind of make sense to me, so we'll call it a day for now.
* Topic 0: mom, parents [Anthony, Hasan, Louis, Ricky]
* Topic 1: husband, wife [Ali, John, Mike]
* Topic 2: guns [Bill, Bo, Jim]
* Topic 3: profanity [Dave, Joe]

# ¡FIN TRABAJO!